<h1>New User</h1>

<%= form_for [:admin, @client] do |f| %>
<div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field mb-3">
    <%= f.label :name, "Nombre completo (NO PUEDE VOLVER A CAMBIARSE)", class: "mb-2 fw-bold" %><br />
    <%= f.text_field :name, value: "user#{rand(43..988)}", autocomplete: "new-name", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

<% end %>