<div id="<%= dom_id article %>">

    <%= article.title %> <br> <br>



    <%= article.description %> <br> <br>



    <%= article.requirements %> <br> <br>
 



    <%= number_to_currency(article.profit, precision: 0) %> <br> <br>



    <%= article.client_id %>


</div>
