<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Requirements:</strong>
    <%= article.requirements %>
  </p>

  <p>
    <strong>Profit:</strong>
    <%= article.profit %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= article.client_id %>
  </p>

</div>
