<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row d-flex justify-content-center mt-4">
    <div class="col-8">
      <div class="mb-3">
        <%= form.label :title, "Nombre del cargo", style: "display: block", class:"fw-bold mb-2" %>
        <%= form.text_field :title , class:"form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :description, "Descripción del cargo", style: "display: block", class:"fw-bold mb-2" %>
        <%= form.text_area :description, size: "120x6", class:"form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :requirements, "Requerimientos (Separados por punto '.')", style: "display: block", class:"fw-bold mb-2" %>
        <%= form.text_area :requirements, size: "120x6", class:"form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :profit, "Ingresos ($)", style: "display: block", class:"fw-bold mb-2" %>
        <%= form.number_field :profit , class:"form-control" %>
      </div>
      <div class="d-flex justify-content-end">
        <%= form.submit "Publicar oferta", class:"btn mybtn fw-bold px-4 py-2" %>
      </div>
    </div>
  </div>
<% end %>
