<h1 class="display-4 text-center mydafont">Ofertas publicadas</h1>

<div id="articles" class=" mt-5">
  <div class="row" id="article-cards">

    <% @articles.each do |article| %>
    <div class="col-3 mt-4">
      
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mydafont fs-4"><%= article.title %></h5>
          <p class="card-text"><%= article.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Sueldo: <%= number_to_currency(article.profit, precision: 0)%> pesos. (CLP)</li>
          <li class="list-group-item">N° Postulantes: <%= article.postulations.count%></li>
        </ul>
        <div class="card-body">
          <%= link_to "Ver oferta", article, class: "card-link btn mybtn" %>
        </div>
      </div>
      
    
    </div>
    <% end %>

  </div>
</div>


